@media (min-width: 576px) {
    .custom-navbar {
        margin: 24px;
        padding: 12px;
        border-radius: 12px;
    }
}

@media (max-width: 576px) {
    .custom-navbar {
        padding: 12px;
        margin-bottom: 12px;
    }
}

.logo {
    font-size: 30px;
    color: white;
}