@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #344e41;
$secondary: #3a5a40;
$success: #28a745;
$info: #a3b18a;
$warning: #ffb703;
$danger: #fb8500;
$light: #f8f9fa;
$dark: #343a40;

$critical: #324d37;
$high: #53815c;
$medium: #7eac86;
$low: #b2cdb7;
$informational: #e5eee7;

$offcanvas-horizontal-width: min(600px, 100%);

// Import Bootstrap and custom styles
@import "bootstrap/scss/bootstrap";
